# Django-specific
local_settings.py
db.sqlite3
*.sqlite3

# Python
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/

# IDE files
.idea/
.vscode/

# Logs
logs/

# Add .env to ignore sensitive information
.env