{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" rel="stylesheet"/>
</head>
<body>
<main class="container">
    <nav>
        <ul>
            <li style="font-size:2rem"><strong><a href="{% url 'home' %}">🎮</a>&nbsp;&nbsp;&nbsp;Jogo da Forca</strong>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'tema_list' %}">Temas</a></li>
            {% if request.user.is_authenticated %}
                <li>
                    <details class="dropdown">
                        <summary>
                            {{ request.user.get_full_name }}
                        </summary>
                        <ul dir="rtl">
                            {% csrf_token %}
                            {% for tema in object_list %}
                                <li>
                                    <a href="{% url 'gerar_relatorio_pdf' %}?tema_id={{ tema.id }}">Relatório{{ tema.nome }}
                                    </a>
                                </li>
                            {% empty %}
                                <li>Nenhum tema disponível</li>
                            {% endfor %}
                            <li><a id="logout-link" href="{% url 'logoutuser' %}">🔌 Sair</a></li>
                        </ul>
                    </details>
                </li>
            {% else %}
                <li><a class="outline" href="{% url 'loginuser' %}" role="button">Entrar</a></li>
                <li><a class="outline" href="{% url 'cadusuario' %}" role="button">Registrar</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block conteudo %}
    {% endblock %}
</main>
{% block scripts %}
    <script>
        document.getElementById('logout-link').addEventListener('click', function (event) {
            event.preventDefault();

            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '{% url 'logoutuser' %}';

            var csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
            var csrfInput = document.createElement('input');
            csrfInput.type = 'hidden';
            csrfInput.name = 'csrfmiddlewaretoken';
            csrfInput.value = csrfToken;
            form.appendChild(csrfInput);

            document.body.appendChild(form);
            form.submit();
        });
    </script>
{% endblock %}
</body>
</html>
