{% extends 'base.html' %}

{% block titulo %}Escolha um Tema{% endblock %}

{% block conteudo %}
    <h1>Relatório de Jogos por Tema</h1>
    <a href="{% url 'gerar_relatorio_pdf' %}">Baixar Relatório em PDF</a>
    {% for relatorio in relatorios %}
        <h2>Tema: {{ relatorio.tema }}</h2>
        <ul>
            {% for jogo in relatorio.jogos %}
                <li>Jogador: {{ jogo.jogador }} - Palavra: {{ jogo.palavra }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
