{% extends 'base.html' %}

{% block titulo %}Escolha um Tema{% endblock %}

{% block conteudo %}
    <article>
        <h2>Temas Disponíveis</h2>
        <ul>
            {% for tema in object_list %}
                <li><a href="{% url 'jogar' tema.id %}">{{ tema.nome }}</a></li>
            {% endfor %}
        </ul>
    </article>
    <article>
        {% if request.user.is_authenticated and request.user.perfil.tipo_usuario == "Professor" %}
            <h2>Adicionar</h2>
            <p><a href="{% url 'adicionar_tema' %}">Adicionar Tema</a></p>
            <p><a href="{% url 'adicionar_palavra' %}">Adicionar Palavra</a></p>
        {% endif %}
    </article>
{% endblock %}
