{% extends 'base.html' %}
{% load static %}

{% block titulo %}Jogar Forca{% endblock %}

{% block conteudo %}
    <article>
        <form method="post">
            {% csrf_token %}
            <label>Você Venceu 😊</label>
            <img id="imagemVitoria" src="{% static 'imagens/vitoria.jpg' %}" alt="Vitoria"
                 style="align-self: flex-start; margin-right: 20px;">
            <p>A palavra era: {{ palavra.palavra }}</p>
            <a class="outline" href="{% url 'home' %}" role="button">Jogar novamente</a>
        </form>
        <audio autoplay>
            <source src="{% static 'media/vitoria.mp3' %}" type="audio/mp3">
            Seu navegador não suporta o elemento de áudio.
        </audio>
    </article>

    <script>
        const imagem = document.getElementById('imagemVitoria');
        imagem.style.height = '400px';
        imagem.style.width = '400px';
    </script>
{% endblock %}