{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<article data-theme="dark">
    <h2>Criar conta</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <select name="select" aria-label="Select" required>-->
<!--            <option selected disabled value="">Select</option>-->
<!--            <option value="Aluno">Aluno</option>-->
<!--            <option value="Professor">Professor</option>-->
<!--        </select>-->
        <button type="submit">Cadastrar</button>
    </form>

</article>
{% endblock %}